---
/**
 * * Logo sloud section static
 *
 * These are taken from the src/icons folder. You may desire to modify any SVGs you use to have the fill set to "currentColor"
 * to use the current text color. That is how I have set up these icons for demo purposes
 */

import { Icon } from "astro-icon";
---

<section
  id="Motto1"
  class="flex items-end justify-center border-y border-base-300 py-6 dark:border-base-600/60"
>
  <div class="site-container text-center opacity-90 dark:opacity-80">
    <p class="">
      Přetváříme obsahy, aby je šlo konzumovat i bez vizuálního vjemu. Ať každý používá informace a technologie tak, jak mu to vyhovuje nejlépe.
    </p>
  </div>
    </div>
  </div>
</section>
